*{
    box-sizing: border-box;
}

body{
    background-image: url('https://images.unsplash.com/photo-1519865885898-a54a6f2c7eea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3BsYXNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Signup-Section {
    padding: 50px 300px;
    margin: auto;
}

#signup-form {
    padding: 50px 40px;
}