*{
    box-sizing: border-box;
}

body{
    background-image: url('https://images.unsplash.com/photo-1519865885898-a54a6f2c7eea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3BsYXNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* index.html */
#Signup-Section {
    padding: 50px 300px;
    margin: auto;
}

#signup-form {
    padding: 50px 40px;
}

/* login.html */
#login-Section {
    padding: 50px 300px;
    margin: auto;
}

#login-form {
    padding: 50px 40px;
}

/* expense.html */
#expense-section {
    background: linear-gradient(to bottom, #33ccff 0%, #ffffcc 100%);
    padding: 50px 300px;
    margin: auto;
}

#expense-form {
    padding: 50px 40px;
}

.btn {
    background-color: #9fe3fa;
    color: #ffffcc;
}

.btn:hover {
    background-color: #ffffcc;
    color: #40accf;
    transition: 0.3s ease-in-out;
}

.expense-list-item {
    list-style-type: none;
    color: #ffffcc;
    font-weight: 600;
}

.action-btn {
    background-color: #36768b;
    color: #ffffcc;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #ffffcc;
    color: #36768b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}